footer {
    min-height: 150px;
    position: relative;
    border: solid 2px #1c2751;
    #fb {
        height: 60px;
        width: 60px;
        background: #1c2751;
        position: absolute;
        border-radius: 150px;
        color: beige;
        bottom: 0;
        right: 0;
        transform: translateX(-50%);

    }

}