@font-face {
    font-family: "msB";
    src: url(../fonts/Montserrat-ExtraBold.ttf);
  }
  
  @font-face {
    font-family: "msL";
    src: url(../fonts/Montserrat-ExtraLight.ttf);
  }
  
  @font-face {
    font-family: "lB";
    src: url(../fonts/Lora-Bold.ttf);
  }
  
  @font-face {
    font-family: "lM";
    src: url(../fonts/Lora-Medium.ttf);
  }
  
  @font-face {
    font-family: "latoThin";
    src: url(../fonts/Lato-Thin.ttf);
  }