// Couleurs
$background-dark: #050505; // Gris très foncé pour le fond principal du body
$background-light: #f6fdfd; // Blanc subtil pour faire ressortir les sections


// Polices
$font-heading: "msB", sans-serif; // Montserrat-ExtraBold
$font-body: "lM", serif;           // Lora-Medium
$font-light: "LatoThin", sans-serif; // Lato-Thin
$font-article: "msL", sans-serif; 
// Monserrat-Extralight


// Autres
$base-spacing: 16px;  // pour espacement général






  



